.deals_container{
    display: flex;
    width: 100%;
    padding-left: 4%;
    padding-right: 4%;
    height: 240px;
    margin-top: 30px;
}




.sale_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    min-width: 180px;
    row-gap: 8px;
    border: 1px solid #DEE2E7;
    border-radius: 6px;
    padding: 0 0 5px;
   
}

.prodact_container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: white;
    border-radius: 6px;
    overflow-x: scroll;
    
    
}

.prodact_container::-webkit-scrollbar {
    height: 10px;
}
 
.prodact_container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(177, 167, 167, 0.3); 
    
}
 
.prodact_container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(177, 167, 167, 0.3); 
}

.product_description {
    font-size: 1em;
    font-weight: 400;
    color: #1C1C1C;
}

.sale_percent {
    font-size: 0.87em;
    color: red;
    background-color: black;
    width: 62px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 28px;
    text-align: center;
    align-self: center;
    background-color: #FFE3E3
    ;
}

@media screen and (max-width: 770px) {
    .sale_box {
        min-width: 140px;
        height: 180px;

    }
    .sale_box img {
        width: 100px;
    }
}





@media (max-width:1350px) {
    .deals_container{
        padding-left: 5px;
        padding-right: 5px;
    }
    
}


@media (max-width:850px) {
    .deals_container{
        display: flex;
        flex-direction: column;
        height: auto;
        
    }

    .sale_box{
        padding-bottom: 10px;
    }
    
}


