/* Google Font Link */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;

}

.container5{
  position: relative;
  max-width: 850px;
  width: 100%;
  background: #fff;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  perspective: 2700px;
  border-radius: 18px;
}
.container5 .cover5{
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  z-index: 98;
  transition: all 1s ease;
  transform-origin: left;
  transform-style: preserve-3d;
}

 .container5 .cover5 .front5,
 .container5 .cover5 .back5{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.cover5 .back5{
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.container5 .cover5::before,
.container5 .cover5::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: #7d2ae8;
  opacity: 0.5;
  z-index: 12;
}
.container5 .cover5::after{
  opacity: 0.3;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.container5 .cover5 img{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 10;
}
.container5 .cover5 .text5{
  position: absolute;
  z-index: 130;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cover5 .text5 .text-15,
.cover .text .text-2{
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
.cover5 .text5 .text-2{
  font-size: 15px;
  font-weight: 500;
}
.container5 .forms5{
  height: 100%;
  width: 100%;
  background: #fff;
}
.container5 .form-content5{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-content5 .login-form5,
.form-content5 .signup-form5{
  width: 100%;
}
.forms5 .form-content5 .title5{
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: #333;
}


.forms5 .signup-form5  .title5:before{
  width: 20px;
}
.forms5 .form-content5 .input-boxes5{
  margin-top: 30px;
}
.forms5 .form-content5 .input-box5{
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}
.form-content5 .input-box5 input{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
.form-content5 .input-box5 input:focus,
.form-content5 .input-box5 input:valid{
  border-color: #7d2ae8;
}
.form-content5 .input-box5 i{
  position: absolute;
  color: #7d2ae8;
  font-size: 17px;
}
.forms5 .form-content5 .text5{
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
.forms5 .form-content5 .text5 a{
  text-decoration: none;
  color: #127FFF;
}
.forms5 .form-content5 .text5 a:hover{
  text-decoration: underline;
}
.forms5 .form-content5 .button5{
  color: #fff;
}
.forms5 .form-content5 .button5 input{
  color: #fff;
  background: #127FFF;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.forms5 .form-content5 .button5 input:hover{
  background: #5b13b9;
}
.forms5 .form-content5 label{
  color: #5b13b9;
  cursor: pointer;
}
.forms5 .form-content5 label:hover{
  text-decoration: underline;
}
.forms5 .form-content5 .login-text5,
.forms5 .form-content5 .sign-up-text5{
  text-align: center;
  margin-top: 25px;
}
.container5 #flip{
  display: none;
}
@media (max-width: 730px) {
  .container5 .cover{
    display: none;
  }
  .form-content5 .login-form5,
  .form-content5 .signup-form5{
    width: 100%;
  }
  .form-content5 .signup-form5{
    display: none;
  }
  .container5 #flip:checked ~ .forms5 .signup-form5{
    display: block;
  }
  .container5 #flip:checked ~ .forms5 .login-form5{
    display: none;
  }
}





.brand5{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

.brand5 img{
    z-index: 1;
}


.sigin_icons5{
    color: #127FFF;
}

.all_content5{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../assets/background/blue.png);
    background-position: 50% 0;
}

.all_content52{
    width: 40%;
    min-width: 360px;
    max-width: 800px;
    padding: 30px;
}



.social_icons{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 20px;
  gap: 15px;
}
.social_icons img {
  width: 35px;
}



.login_with {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_with span{
  font-size: 0.9em;
  font-weight: 400;
  color: var(--gray_600);

}




.social_icons a {
  display: inline-block;
  position: relative;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}

.social_icons a img {
  transition: transform 0.3s ease-in-out;
}

.social_icons a:hover {
  transform: rotate(360deg);
}

.social_icons a:hover img {
  transform: scale(1.2); 
}


