.icon_box{
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center; 
    column-gap: 10px;
}

.icon_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 5px;
    position: relative;
}
.icon_container:hover{
    transform: scale(1.1);
}
.icon_container2:hover{
    transform: scale(1.1);
}
.icon_container img:hover{
    transform: scale(1.1);
}
.icon_container2 img:hover{
    transform: scale(1.1);
}

.icon_container2{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 5px;
}

.icon_container span {
    font-size: 0.75em;
    color: black;
}

.icon_container2 span {
    font-size: 0.75em;
}


.icon_container img {
    width: 22px;
    height: 20px;
}

.icon_container2 img {
    width: 22px;
    height: 20px;
}



@media screen and (max-width: 900px) {
    .icon_container span{
         display: none;
    }

    .icon_container2 span {
        display: none;
    }

    .icon_box {
        column-gap: 15px;
    }

}


@media screen and (max-width: 600px) {
    .icon_container2{
        display: none;
    }

    .icon_box{
        min-width: 50px;
        display: flex;
        justify-content: flex-end;
    }
}


.cart_circle{
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    text-align: center;
    top: 11px;
    right: 7px;
    font-weight: 500;
    color: white;
    line-height: 1.3;

}