.navigation_container5 {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 4%;
    padding-right: 4%;
    display: flex;
}

.category_ul li:hover{
    border-radius: 6px;
    background-color: #E5F1FF;
    font-weight: 500;
    padding-left: 5px;
}

@media screen and (max-width: 1350px) {
    .navigation_container5 {
        font-size: 0.85em;
        padding-left: 10px;
        padding-right: 10px;

    }
}

.filter_container {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    row-gap: 15px;
    min-width: 200px;
    width: 20%;
}


.filter_box {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    border-top: 1px solid #DEE2E7;
    width: 100%;
}

.nav_head {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.nav_head span {
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
}

/* Rotate the arrowdown image by 180 degrees */
.nav_head img.rotate {
    transform: rotate(180deg);
}

.filter_box ul li {
    display: flex;
    font-size: 1em;
    color: #505050;
    font-weight: 400;
    column-gap: 20px;
    list-style-type: none;
    cursor: pointer;
}

.filters_toggle{
    display: none;
}

.displaynone {
    display: none;
}
.nav_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 6px;
}

.nav_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    margin-bottom: 30px;
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}
.grid_list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}
.nav_box_container {
    width: 100%;
    height: auto;
}

.nav_2 {
    display: flex;
    row-gap: 20px;
    width: 100%;
    background-color: white;
    border: 1px solid #DEE2E7;
    height: 230px;
    border-radius: 6px;
    transition: transform .4s;
}
.nav_2:hover{
    transform: scale(1.1);
}

.filters_toggle {
    width: 100;
    border-radius: 6px;
    border: 2px solid var(--gray_500);
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 10px;
}

@media screen and (max-width: 950px) {
    .nav_box_container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 30px;
    }
    .nav_2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 30%;
        min-width: 190px;
        flex-wrap: wrap;
    }
    .nav_2 .prise_description .rating_box .order_info {
        display: none;
    }
    .nav_2 .prise_description  .spans_cont {
        display: none;
    }
    .nav_2 .prise_description {
        padding: 0 0 20px 0;
    }
    .nav_2 .favorite {
        display: none;
    }
}
@media screen and (max-width: 800px) {
    .nav_box_container {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
    .nav_2 .product_img1 {
        width: 20%;
        min-width: 90px;
        padding: 10px;
    }
    .nav_2 .product_img1 img{
        width: 85px;
        height: 85px;
    }
    .nav_2 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        font-size: 0.85em;
    }
    .nav_2 .prise_description {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 15px 0 0 0 ;
        width: 200px;
    }
    .nav_1 {
        font-size: 0.85em;
    }
    .filter_container {
        width: 100%;
        /* flex-direction: row; */
    }
    .filters_toggle{
        display: block;
    }
    .navigation_filters{
        width: 100%;
    }

    .nav_1 .grid_list input {
        display: none;
    }
    .nav_1 .grid_list span {
        display: none;
        
    }
    .navigation_container5{
        display: flex;
        flex-wrap: wrap;
    }
}
.product_img1 {
    width: 18%;
    min-width: 183px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_img1 img {
    width: 184px;
    height: 184px;
    cursor: pointer;
}

.prise_description {
    width: 80%;
    padding: 15px 30px;
}
.prise_description > span{
    cursor: pointer;
}
.favorite {
    display: flex;
    justify-content: flex-end;
    width:80px ;
    padding-top: 30px;
    padding-right: 30px;
}

.favorite img {
    width: 20px;
    height: 20px;
}
.prise_description .span1 {
    font-size: 1em;
    font-weight: 500;
    color: #1C1C1C;
}
.span_box {
    display: flex;
    column-gap: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.new_prise {
    font-size: 1.25em;
    font-weight: 600;
}
.old_prise {
    font-size: 1em;
    color: #8B96A5;
    font-weight: 600;
}
.rating_box {
    display: flex;
    align-items: center;
    column-gap: 15px;
    width: 100%;
}
.rating_star {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.order_info {
    display: flex;
    column-gap: 15px;
    align-items: center;
}
.order_info img {
    width: 6px;
    height: 6px;
}

.order_span {
    font-size: 1em;
    color: #8B96A5;
    font-weight: 400;
}
.free_span {
    color: #00B517;
    font-size: 1em;
    font-weight: 400;
}
.lorem {
    font-size: 1em;
    font-weight: 400;
}
.view_detail {
    font-size: 1em;
    color: #0D6EFD;
    font-weight: 500;
    cursor: pointer;
}
.spans_cont {
    padding-top: 10px;
    row-gap: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Add cursor pointer to the left side elements of checkboxes */
.filter_box ul li,
.filter_box span,
.filter_box img,
.filter_box input,
.filter_box label {
    cursor: pointer;
}

.seeall {
    font-size: 1em;
    color: #0D6EFD;
    font-weight: 400;
}

.pricerange_input{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pricerange_input input{
    width: 40%;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
    appearance: textfield;

}

.pricerange_input input::-webkit-outer-spin-button,
.pricerange_input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pricerange_input input[type=number] {
  -moz-appearance: textfield;
}

.pricerange_container button {
    align-items: center;
    width: 50%;
}
.pricerange_button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.pricerange_container{
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.pricerange_button button{
    width: 50%;
    background-color: #fff;
    border: 1px solid #dee2e7;
    border-radius: 6px;
    cursor: pointer;
    height: 40px;
}

.pricerange_button button:hover{
    background-color: rgb(65, 65, 201);
    
}
