.recomended_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    width: 100%;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 20px;
    height: 700px;
}
@media screen and (max-width: 1350px) {
    
    .recomended_container {
        padding-left: 10px;
        padding-right: 10px;
        
    }
    .recomended_container .recomended_container2 .items_box {
        width: 165px;
        height: 36%;
        justify-content: center;
        
    }
}

.recomended_container .recomended_container2 {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 28px;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    
}

.recomended_container .recomended_container2::-webkit-scrollbar {
    height: 10px;
}
 
.recomended_container .recomended_container2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(177, 167, 167, 0.3); 
    
}
 
.recomended_container .recomended_container2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #8db0e4 
}

.recomended_container  span {
    align-items: center;
    font-size: 1.5em;
    font-weight: 600;
    color: #1C1C1C;
}

.recomended_container .recomended_container2 .items_box{
    border-radius: 6px;
    border: 1px solid #E0E0E0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 250px;
    height: 40%;
    padding: 20px;
    background-color: white;

}
.recomended_container .recomended_container2 .items_box .recomended-prise{
    font-size: 1em;
    font-weight: 600;
    padding-left: 20px;
}

.recomended_container .recomended_container2 .items_box .recomended-product-span {
    font-weight: 400;
    font-size: 1em;
    color: #8B96A5;
    padding-left: 20px;
}

.recomended_img img {
    width: 100px;
    cursor: pointer;
    
}
.items_box {
    transition: transform .4s;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.items_box:hover{
    transform: scale(1.2);
}

.recomended_img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    
}

.recomended_span{
    display: flex;
    flex-direction: column;
}
