.footer_container {
    width: 100%;
    background-color: white;
    padding-left: 4%;
    padding-right: 4%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 20px;
}
@media screen and (max-width: 1350px) {
    .footer_container {
        padding-left: 10px;
        padding-right: 10px;

    }
    

}
.background1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 15px;
    height: auto;
    background-color: white;
    border-radius: 6px;
}
.about_box {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 110px;
    cursor: pointer;
}
.about_box .download {
    width: 90px;
}
.footer_container2 {
    padding-right: 4%;
    padding-left: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    row-gap: 20px;
    height: 50px;
    width: 100%;
    background-color: white;
    margin-top: 30px;
}
@media screen and (max-width: 360px) {
    .footer_container2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
    }

}
@media screen and (max-width: 1350px) {
    .footer_container2 {
        padding-left: 10px;
        padding-right: 10px;

    }
}
.balance {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
    
}

.social_container {
    display: flex;
    column-gap: 10px;
    width:auto ;
}
.social_container img {
    width: 24px;
    height: 24px;
}


.footer_line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 68px;
    background-color: #DEE2E7 ;
    padding-left: 4%;
    padding-right: 4%;
}
@media screen and (max-width: 1350px) {
    .footer_line {
        padding-left: 10px;
        padding-right: 10px;

    }
}
.change_language {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    width: 110px;
}
@media (max-width:400px) {
    .change_language{
        display: none;
    }
    
}
.change_language .usa {
    width: 24px;
    height: 17px;
}
.download img{
    width: 100%;
}

.category_ul{
    flex-direction: column;
    gap: 10px;
    padding: 15px 0;
}


.brand_ul{
    flex-direction: column;
    gap: 5px;
    padding: 15px 0;
    list-style: none; 
    overflow-y: scroll;
    height: 300px;
}

  
  .brand_ul li {
    margin: 8px 0; 
  }
  
  .brand_ul label {
    display: flex; 
    align-items: center;
    cursor: pointer; 
  }
  
  .brand_ul input[type="checkbox"] {
    margin-right: 8px; 
  }
  
  
  .rotate {
    transform: rotate(90deg); 
  }
  
 
.brand_ul input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px; 
    height: 16px;
    border: 2px solid black; 
    border-radius: 3px;
    outline: none; 
    cursor: pointer; 
  }
  

  .brand_ul input[type="checkbox"]:checked {
    background-color: #127FFF; 
    border-color: #127FFF;
  }
  
  
  .brand_ul input[type="checkbox"]:checked::before {
    content: '\2713';
    display: block;
    width: 10px;
    height: 10px;
    margin: 1px; 
    text-align: center;
    line-height: 10px;
    color: white;
  }
  
  .brand_ul::-webkit-scrollbar {
    height: 10px;
}
 
.brand_ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(177, 167, 167, 0.3); 

}
 
.brand_ul::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 1px #000000 
}