.search_container{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative;
    border: 1px solid var(--gradient);
    border-radius: 6px;

}

.search_input_container{
    width: 100%;
    height: 100%;
}
.search_results{
    position: absolute;
    width: 100%;
    height: fit-content;
    background-color: var(--gray_300);
}

.search_item{
    margin-bottom: 7px;
    margin-top: 7px;
    width: 100%;
    display: flex;
    gap: 30px;
    height: 120px;
    background-color: white;
}

.search_item_span{
    width: 80%;
    padding-top: 8px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    padding-right: 7px;
}

.search_item_span span:nth-child(1){
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.search_item_img{
    width: 20%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.search_item_img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    padding: 5px;
}

.search_item .search_item_span span {
    font-size: 0.9em;
}

.search_container .search_img {
    display: none;
    width: 22px;
    position: absolute;
    left: 0;
}

.search_container input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-left: 1px solid var(--gradient);
    border-top: 1px solid var(--gradient);
    border-bottom: 1px solid var(--gradient);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 10px;
    color: var(--dark, #1C1C1C);
}

.search_container a {
    height: 100%;
    border: 1px solid var(--gradient);
}

.search_container input::placeholder{
    color: var(--gray_500);
}

.search_container a{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 110px;
    height: 100%;
    color: var(--dark, #1C1C1C);
    font-family: 'Inter';
    font-size: 0.8em;
    font-weight: 400;

}


.search_container button{
    min-width: 100px;
    height: 40px;
    background-color: var(--gradient);
    color: white;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 1em;
}





@media screen and (max-width: 900px) {
   .search_container a{
         display: none;
    }
}



@media screen and (max-width: 550px) {
    .search_container {
        border: none;
    }
    .search_container a {
        border: none;
    }

    .search_container button{display: none;} 


    .search_container .search_input_container  input{
        padding-left: 25px;
        background-color: var(--gray_100);
        border: 1px solid var(--gray_300);
        border-radius: 6px;

    }

    .search_container .search_img {
        display: block;
    }
}